* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-header {
  width: 100%;
  background-color: hsla(0, 82.41%, 57.65%, 1);
  border-bottom: 1px solid #ddd;
  color: rgb(255, 242, 221);
  top: 0;
  left: 0;
}

.site-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar .nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar .nav-list li a {
  text-decoration: none;
  color: rgb(255, 242, 221);
  font-size: 18px;
  font-weight: 700;
  padding: 8px 12px;
  font-family: din-2014, sans-serif;
  font-weight: 600;
  height: auto;
  line-height: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 18px;
  font-style: normal;
}

.burgerlogo {
  display: none;
}
.logo {
  display: block;
  margin-bottom: 0;
}

.home a {
  border-bottom: 1px solid rgb(255, 242, 221);
  padding-bottom: 2px;
}

.nav-list a:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: hsla(0, 82.41%, 57.65%, 1);
  transform: translateX(-60%);
  width: 220px;
  top: 30px;
  padding-bottom: 15px;
  left: 0;
  text-align: end;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
  border-radius: 2px;
}

.dropdown-content a {
  color: rgb(255, 242, 221);
  text-decoration: none;
  font-family: din-2014, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 16.4452px;
  font-style: normal;
  justify-content: end;
  align-items: end;
}

.dropdown-content-two {
  display: none;
  position: absolute;
  background-color: hsla(0, 82.41%, 57.65%, 1);
  transform: translateX(-60%);
  width: 220px;
  top: 60px;
  padding-bottom: 15px;
  text-align: end;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
}

.dropdown-content-two a {
  color: rgb(255, 242, 221);
  text-decoration: none;
  font-family: din-2014, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 16.4452px;
  font-style: normal;
  justify-content: end;
  align-items: end;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-two:hover .dropdown-content-two {
  display: flex;
}

.instagramlogo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.main {
  background-color: red;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.parttwo {
  width: 100%;
  height: 100%;
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
}

.story-section {
  background-color: #f9eedc;
  padding: 80px 60px;
}

.story-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 40px;
}

.story-text {
  flex: 1.2;
}

.story-text h2 {
  color: hsla(0, 82.41%, 57.65%, 1);
  font-size: 40px;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: kaushan Script, cursive;
  font-weight: 400;
  font-style: normal;
}

.story-text p {
  font-family: din-2014, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #1e1e1e;
  min-height: 10px;
  max-height: 300px;
  padding: 10px;
  margin-right: 250px;
}

.signature {
  font-style: italic;
  margin-top: 25px;
}

.story-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 14px 28px;
  background-color: #e53935;
  color: rgb(255, 242, 221);
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  transition: background 0.3s ease;
}

.story-btn:hover {
  background-color: #c92f2a;
}

.story-illustration {
  flex: 0.6;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 300px;
  margin-left: 470px;
  margin-bottom: 350px;
}

.story-illustration img {
  max-width: 100%;
  height: auto;
}

.story-image {
  flex: 1;
}

.story-image img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.order-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
}

.order-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  background-image: url(https://images.squarespace-cdn.com/content/v1/68436903cf4e665c69a9adef/85e2fa96-e3c8-4a95-ae3f-ebd6f3a512f4/Spacca052.jpg?format=1500w);
  background-size: cover;
  background-position: center;
}

.order-btn,
.faqs-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 16px 28px;
  background-color: #e53935;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  transition: background 0.3s ease;
  border: none;
  font-size: 14px;
  height: 60px;
  cursor: pointer;
}

.order-btn {
  width: 300px;
}

.order-btn:hover {
  opacity: 0.8;
}

.faqs-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.squarespace-cdn.com/content/v1/68436903cf4e665c69a9adef/4c6fe670-7f05-4236-b349-fc6a4160b71b/Spacca330.jpg?format=2500w);
  background-size: cover;
  background-position: center;
}

.faqs-btn {
  width: 230px;
}

.faqs-btn:hover {
  opacity: 0.8;
}

.findus-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 100px 80px;
  justify-content: space-between;
  background-color: #fff2dd;
}

.info {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.info-description {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-top: 40px;
  font-weight: 450;
}

.info-subtitle-description {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-top: 16px;
  font-weight: 450;
}

.info-subtitle {
  margin-top: 30px;
  color: #ec3a3a;
  font-size: 15px;
}

.info-title {
  color: #ec3a3a;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "AgencyFB BoldCompressed";
}

.maps {
  width: 830px;
  height: 510px;
  border-radius: 12px;
  overflow: hidden;
}

.maps iframe {
  width: 100%;
  height: 100%;
}

.footer-container {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 16px 80px;
  background-color: #231f20;
  gap: 50px;
  padding-left: 120px;
}

.footer-span {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 450;
  gap: 24px;
  color: #fff2dd;
  margin-top: 100px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-text h1 {
  color: #ec3a3a;
  font-weight: 500;
  font-size: 18px;
}

.footer-text p {
  color: white;
  font-size: 18px;
}

.footer-info .footer-text:first-child p {
  color: #fff2dd;
}

.footer-info .footer-text:last-child {
  margin-top: 20px;
}

.footer-logo {
  height: 110px;
  width: 105px;
  margin-top: 100px;
  margin-right: 50px;
}

.instagram-logo {
  width: 30px;
  height: 30px;
  margin-top: auto;
  margin-bottom: 120px;
  margin-left: 120px;
}

@media (max-width: 640px) and (max-width: 768px) {
  .burgerlogo {
    display: flex;
  }

  .dropdown:hover .dropdown-content,
  .dropdown-two:hover .dropdown-content-two {
    display: none;
  }

  .logo {
    margin-right: 250px;
  }

  .navbar {
    display: none;
  }

  .story-illustration img {
    display: none;
  }

  .story-section .story-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .story-illustration img {
    display: none;
  }

  .story-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 20px;
  }

  .story-text {
    flex: 1;
    text-align: center;
    margin-right: 0;
  }

  .story-text h2 {
    font-size: 32px;
  }

  .story-text p {
    font-size: 14px;
    margin-right: 0;
    padding: 5px;
  }

  .story-btn {
    padding: 12px 24px;
    font-size: 16px;
  }

  .story-illustration img {
    display: none;
  }

  .story-image img {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .burgerlogo {
    display: flex;
  }

  .navbar {
    display: none;
  }

  .dropdown:hover .dropdown-content,
  .dropdown-two:hover .dropdown-content-two {
    display: none;
  }

  .logo {
    width: 120px;
    margin: 0 auto;
  }

  .story-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 20px;
  }

  .story-text {
    flex: 1;
    text-align: center;
    margin-right: 0;
  }

  .story-text h2 {
    font-size: 32px;
  }

  .story-text p {
    font-size: 14px;
    margin-right: 0;
    padding: 5px;
  }

  .story-btn {
    padding: 12px 24px;
    font-size: 16px;
  }

  .story-illustration {
    position: relative;
    margin-left: 0;
    margin-bottom: 20px;
    width: 200px;
  }

  .story-illustration img {
    width: 100%;
    height: auto;
    display: block;
  }

  .story-image img {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
}
